<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Issue list</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>App views</a>
      </li>
      <li class="active">
        <strong>Issue list</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">

    <div class="col-lg-12 animated fadeInRight">
      <div class="mail-box-header">
        <form method="get" action="index.html" class="float-right mail-search">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" name="search" placeholder="Search email">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-sm btn-primary">
                Search
              </button>
            </div>
          </div>
        </form>
        <h2>
          Inbox (16)
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">
          <div class="btn-group float-right">
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

          </div>
        </div>
      </div>
      <div class="mail-box" style="padding-top: 20px">

        <table class="table table-hover table-mail">
          <tbody>
          <tr class="unread">
            <td class="check-mail">
            </td>
            <td class="text-center" width="90%">Atividade</td>
            <td class="text-center">Estimativa</td>
            <td class="text-center">Duração</td>
            <td class="text-center">Tipo</td>
            <td></td>
          </tr>
          <tr class="unread" *ngFor="let item of [0,1,2,3,4,5]">
            <td class="check-mail">
              <button style="min-height: 30px;width:100%" contenteditable [ngClass]="item !== 0?'btn-white':'btn-success'" class="btn  btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read">
                <i class="fa fa-check" *ngIf="item === 0"></i>
              </button>
            </td>
            <td>
              <div  style="min-height: 30px;width:100%" contenteditable class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read">
                Inclusão de protocolo para o Mestrado
              </div>
            </td>
            <td>
              <div style="min-height: 30px;width:100%" contenteditable class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read">
                8
              </div>
            </td>
            <td>
              <div style="min-height: 30px;width:100%" contenteditable class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read">
                32
              </div>
            </td>
            <td>
              <div style="min-height: 30px;width:100%" contenteditable class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read">
              DEV
              </div>
            </td>
            <td>
              <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
