<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Projeto</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>Projeto</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Cadastro</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Novo Projeto</h3>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12"><h4 class="m-t-none m-b">Projeto Pai</h4>
              <div class="form-group">
                <select class="form-control m-b">
                  <option>Sem Projeto Pai</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2"><h4 class="m-t-none m-b">Código</h4>
              <div class="form-group"><input type="text" [(ngModel)]="model.label" placeholder="Código" class="form-control"></div>
            </div>
            <div class="col-sm-10"><h4 class="m-t-none m-b">Nome</h4>
              <div class="form-group"><input type="text" [(ngModel)]="model.nome" placeholder="Nome" class="form-control"></div>
            </div>
            <div class="col-sm-6 b-r"><h4 class="m-t-none m-b">Data inicial</h4>
              <div class="form-group"><input type="date" [(ngModel)]="model.data_inicial" class="form-control"/></div>
            </div>
            <div class="col-sm-6"><h4 class="m-t-none m-b">Data de término</h4>
              <div class="form-group"><input type="date" class="form-control" [(ngModel)]="model.data_termino" /></div>
            </div>
            <div class="col-sm-12"><h4 class="m-t-none m-b">Descrição</h4>
              <div class="form-group"><textarea placeholder="Descricao" [(ngModel)]="model.descricao" class="form-control"></textarea></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <button class="btn btn-white btn-sm" type="submit" style="margin-right: 10px">Cancel</button>
                  <button class="btn btn-primary btn-sm" type="submit" (click)="salvar()">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
