/* Import main Inspinia style */
@import "assets/styles/style";
#toast-container > .toast-success:before {
  content: "\f00C";
  display: none;
}

.ibox-heading {
  border-bottom: none;
  padding: 10px 20px;
}
